<h1>Add a new author <h1>
  <%=form_for :author, url:authors_path do |f| %>
  <p>
    <%=f.label :name %><br>
    <%=f.text_field :name, size: 40 %>
  </p>
  
  <p>
    <%=f.submit %>
  </p>
    <% end %>