<h1> Welcome to the Library! </h1>
<p>What do you wish to do?</p>
<p><%= link_to 'View books', :controller => :books, :action => :index %> </p> 
<p><%= link_to 'Edit my profile', edit_profile_path(current_user) %> </p> 