<h1>Editing a category <h1>
  <%=form_for :cat, url: cat_path(@cat), method: :patch do |f| %>
  <p>
    <%=f.label :description %>
    <%=f.text_field :description, size: 40 %>
  </p>
  
  <%=f.submit %>
  <% end %>